{% extends "admin/base.jinja" %}

{% block header %}
	<link rel="stylesheet" href="{{ static("admin/style/main.css") }}">
	<style>
	.container {
		margin-top:0.25rem;
	}
	h3 {
		position:absolute;
	}
	.thumbnail-container .thumbnail {
		float:left;
		margin-right:0.5em;
		border:2px inset #008cba;
		position:relative;
		overflow:hidden;
	}
	.thumbnail-container .thumbnail:hover {
		box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5);
	}
	.thumbnail-container .thumbnail-overlay,#brand-wall .thumbnail-overlay {
		z-index:2;
		position:absolute;
		top:-1.5em;
		right:-1.5em;
		width:3em;
		height:3em;
		border-radius:3em;
		border:1px solid #F04124;
		background-color:#F04124;
		transition: background-color 300ms ease-out;
	}
	.thumbnail-container .thumbnail-overlay > i,#brand-wall .thumbnail-overlay > i {
		position:relative;
		top:1.2em;
		left:0.5em;
	}
	.thumbnail-container .thumbnail-overlay:hover,#brand-wall .thumbnail-overlay:hover {
		border-color:#CF2A0E;
		background-color:#CF2A0E;
		cursor:pointer;
	}
	.thumbnail-container .thumbnail-overlay:hover > i,#brand-wall .thumbnail-overlay:hover > i{
		color:white;
		font-weight:bold;
	}
	.search-button {
		position:relative;
		width:60%;
		margin:0 auto;
	}
	.search-button input {
		padding-right:1.5em;
	}
	.search-button .fa-search {
		position:absolute;
		right:0.4em;
		top:0.5em;
	}
	.add-brand {
		font-size:8em;
		color:#CFCFCF;
		text-align: center;
	}
	.add-brand > i {
		position:relative;
		top:-0.22em;
	}
	#brand-wall .brick {
		width:137px;
		height:137px;
		border:1px solid #aaa;
		box-shadow:0px 0px 5px #ccc;
		position:relative;
		margin-bottom: 0.8em;
		float:left;
		overflow:hidden;
		margin-right:0.8em;
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
	.brick.add-brand:hover {
		color:#aaa;
	}
	#brand-wall .brick:hover {
		box-shadow:0px 0px 10px #333;
	}
	#brand-wall .brick:hover .brand-name-overlay {
		color:#333;
		background-color:#ddd;
		opacity:0.7;
	}
	.brand-name-overlay {
		position:absolute;
		bottom:0;
		left:0;
		text-align:center;
		width:100%;
		color:#aaa;
	}
	.brand-name-overlay .button.alert {
		margin-bottom:0.1em;
	}
	@media only screen and (max-width: 40.0625em) {
		h3 {
			position:static;
		}
		.search-button {
			width:100%;
		}
	}
	</style>
{% endblock %}

{% block body %}
	<div class="row container">
		<div class="small-12 column">
			<h3>所有品牌</h3>			
			<div class="search-button">
				<input type="text" ng-model="query.name" placeholder="搜索公司/品牌名称" ng-enter="onSearch()" />
				<i class="fa fa-search"></i>
			</div>
			<p ng-if="!filtered.length">没有相关品牌信息，点击"+"添加</p>
			<div id="brand-wall" class="clearfix">
				<div ng-repeat="brand in filtered track by brand.id" class="brick">
					<image ng-src="{{ '{{' }}brand.photos[0].thumbnail{{ '}}' }}" />
					<div class="brand-name-overlay">
						<span ng-bind="brand.name"></span>
					</div>
					<div class="thumbnail-overlay" ng-click="onDeleteBrand(brand)"><i class="fa fa-close"></i></div>
				</div>
				<div class="brick add-brand" data-reveal-id="addBrandModal">
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</div>
	</div>
	<div id="addBrandModal" class="reveal-modal" data-reveal aria-labelledby="addBrandModalTitle" aria-hidden="true" role="dialog">
		<h2 id="addBrandModalTitle">添加品牌</h2>
		<a class="close-reveal-modal">&times;</a>
		<form class="expandable">
			<div class="row">
				<div class="small-12 medium-6 column">
					<label>品牌名称</label>
					<input type="text" placeholder="品牌名称" ng-model="vm.name" />
				</div>
				<div class="small-12 medium-6 column">
					<label>公司名称</label>
					<input type="text" placeholder="公司名称" ng-model="vm.company_name" />
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 column">
					<label>上传商标(只能上传1张图片)</label>
					<input class="button tiny secondary" id="file-upload" type="file"/>
					<div class="thumbnail-container clearfix">
						<div class="thumbnail" ng-repeat="file in files track by $index">
							<image ng-src="{{ '{{' }}file.thumbnail{{ '}}' }}" />
							<div class="thumbnail-overlay" ng-click="onDeleteFile(file)"><i class="fa fa-close"></i></div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="clearfix buttons">
			<button type="button" class="button small secondary right" ng-click="onCancel()">放弃</button>
			<button type="button" class="button small right" ng-click="onSave($event)">保存</button>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{{ static("bower_components/masonry/dist/masonry.pkgd.js") }}"></script>
	<script src="{{ static("bower_components/imagesloaded/imagesloaded.pkgd.js") }}"></script>
	<script src="{{ static("bower_components/angular-masonry/angular-masonry.js") }}"></script>
	<script src="{{ static("bower_components/jquery-file-upload/js/vendor/jquery.ui.widget.js") }}"></script>
	<script src="{{ static("bower_components/jquery-file-upload/js/jquery.iframe-transport.js") }}"></script>
	<script src="{{ static("bower_components/jquery-file-upload/js/jquery.fileupload.js") }}"></script>
	<script src="{{ static("admin/brand_list.js") }}"></script>
{% endblock %}

